:root {
    /* Colors */
    --color-bg: #fff;
    --color-primary-1: #4472D3; 
    --color-primary-2: #7894CF; 
    --color-primary-3: #C7CEF4; 
    --color-primary-4: #F3CD6D; 
    --color-primary-5: #F7DD9C; 
    --color-primary-6: #F2D7D7; 
    --color-secondary: #F7F7F7;
    --color-error: #E86E6E;
    --color-add-1:  #EF9A9A;
    --color-add-2: #2D8077;


    /* Fonts */
    --font-robot: "Roboto";
}
